.Chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 375px;
    width: 375px;
    max-width: 600px;
    max-height: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    margin: 10px auto;
}

.Chat div {
    margin-bottom: 10px;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

form input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

form button {
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
